body {
    font-family: 'Raleway', sans-serif;
    background-color: #dcdde1;
}

/* ================== Header =================== */

.header {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.header_logo {
    width: 50px;
}

.header_title {
    color: #B40101;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
}

/* ================== Home =================== */

.main {
    margin: 1rem;
}

.button_add_project {
    padding: 1rem;
    background-color: #B40101;
    border: none;
    border-radius: 10px;
    color: white;
    display: block;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}

.main_section {
    border: solid 2px #B40101;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

/* ================== Page Sales =================== */

.sales_title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.all_sales {
}

.saleSmall {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
}

.saleSmall_client {
    text-align: center;
    font-weight: bold;
}

.saleSmall_item {
    
}

/* ================== Footer =================== */

.footer {
    color: white;
    background-color: black;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}